@import "tailwindcss";

@theme {
  /* 1. Tu paleta base ahora se llama "servineo" */
  --color-servineo-50: #eef7ff;
  --color-servineo-100: #d8ecff;
  --color-servineo-200: #b9ddff;
  --color-servineo-300: #89c9ff;
  --color-servineo-400: #52abff;
  --color-servineo-500: #2a87ff;
  --color-servineo-600: #1366fd;
  --color-servineo-700: #0c4fe9;
  --color-servineo-800: #1140bc;
  --color-servineo-900: #13378b;
  --color-servineo-950: #11255a;

  /* 2. Variables Semánticas (¡Nombres que tienen sentido para ti!) */
  --color-primario: var(--color-servineo-600);        /* Para botones principales y el header */
  --color-primario-hover: var(--color-servineo-700);  /* Para cuando pasas el mouse por encima */
  
  --color-fondo: var(--color-servineo-50);            /* El color de fondo de toda la página */
  
  --color-texto-oscuro: var(--color-servineo-950);    /* Para títulos y textos principales */
  --color-texto-suave: var(--color-servineo-800);     /* Para subtítulos o descripciones */
  
  --color-footer: var(--color-servineo-950);          /* El fondo oscuro del pie de página */
}